<%= form_for [:admin, @user] do |f| %>
<%= f.error_messages %>
<p>
<%= f.label :email %>
<%= f.text_field :email, :size => 30  %>
</p>
<p>
<%= f.label :password %>
<%= f.password_field :password, :size => 20  %>
</p>
<p>
<%= f.label :admin, "Is an admin?" %>
<%= f.check_box :admin %>
<p>
<%= f.submit "Update User", :class => "btn btn-primary btn-large" %>
<% end %>
