<!DOCTYPE html>
<html>
<head>
  <title>Njaimh</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="overall">

<div class="blue_box">
<h2>NJ-AIMH Member Database</h2>
</div>

<br>
<br>
<br>
<br>
<br>

<nav>
<%= link_to "Admin", admin_root_path %>
<%= link_to "Members", members_path %>
<% if user_signed_in? %>
  Signed in as <%= current_user.email %>
<% else %>
<%= link_to "Sign in", new_user_session_path %>
<% end %>
</nav>

<% flash.each do |key, value| %>
<div class="flash" id='<%= key %>'>
<%= value %>
</div>
<% end %>

<%= yield %>

</div>
</body>
</html>
