<%= form_for(@member) do |f| %>
<%= f.error_messages %>
<p>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</p>
<p>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
</p>
<p>
<%= f.label :agency %>
<%= f.text_field :agency %>
</p>
<p>
<%= f.label :address %>
<%= f.text_field :address %>
</p>
<p>
<%= f.label :city %>
<%= f.text_field :city %>
</p>
<p>
<%= f.label :state %>
<%= f.text_field :state %>
</p>
<p>
<%= f.label :zip %>
<%= f.text_field :zip %>
</p>
<p>
<%= f.label :work_phone %>
<%= f.text_field :work_phone %>
</p>
<p>
<%= f.label :home_phone %>
<%= f.text_field :home_phone %>
</p>
<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>
<p>
<%= f.label :last_dues_paid %>
<%= f.date_select :last_dues_paid %>
</p>
<p>
<%= f.label :board_member %>:<br />
<%= f.radio_button :board_member, :true %>Yes<BR>
<%= f.radio_button :board_member, :false, :checked => true %>No
</p>
<%= f.submit %>
<% end %>
