<%= form_for(@member) do |f| %>
<%= f.error_messages %>
<table>
<tr>
<td><%= f.label :first_name %></td>
<td><%= f.text_field :first_name %></td>
<td><%= f.label :last_name %></td>
<td><%= f.text_field :last_name %></td>
</tr>
<tr>
<td><%= f.label :agency %></td>
<td><%= f.text_field :agency %></td>
<td><%= f.label :fax_number %></td>
<td><%= f.text_field :fax_number %></td>
</tr>
<tr>
<td><%= f.label :primary_email %></td>
<td><%= f.text_field :email_1 %></td>
<td><%= f.label :secondary_email %></td>
<td><%= f.text_field :email_2 %></td>
</tr>
<tr>
<td><%= f.label :home_phone %></td>
<td><%= f.text_field :home_phone %></td>
<td><%= f.label :work_extension %></td>
<td><%= f.text_field :work_extension %></td>
</tr>
<tr>
<td><%= f.label :work_phone %></td>
<td><%= f.text_field :work_phone %></td>
</tr>
<tr>
<td><%= f.label :address_1 %></td>
<td><%= f.text_field :address_1 %></td>
<td><%= f.label :address_2 %></td>
<td><%= f.text_field :address_2 %></td>
</tr>
<tr>
<td><%= f.label :city %></td>
<td><%= f.text_field :city %></td>
<td><%= f.label :county %></td>
<td><%= f.text_field :county %></td>
</tr>
<tr>
<td><%= f.label :state %></td>
<td><%= f.text_field :state %></td>
<td><%= f.label :zip %></td>
<td><%= f.text_field :zip %></td>
</tr>
<tr>
<td><%= f.label :org_member %></td>
<% if @member.org_member %>
<td><%= f.radio_button :org_member, :true, :checked => true  %>Yes</td>
<td><%= f.radio_button :org_member, :false %>No</td>
<% else %>
<td><%= f.radio_button :org_member, :true %>Yes</td>
<td><%= f.radio_button :org_member, :false, :checked => true %>No</td>
<% end %>
</tr>
<tr>
<td><%= f.label :org_member_type %></td>
<td><%= f.text_field :org_member_type %></td>
<td><%= f.label :dues_paid_year %></td>
<td><%= f.text_field :dues_paid_year %></td>
</tr>
<tr>
<td><%= f.label :board_member %></td>
<% if @member.board_member %>
<td><%= f.radio_button :board_member, :true, :checked => true  %>Yes</td>
<td><%= f.radio_button :board_member, :false %>No</td>
<% else %>
<td><%= f.radio_button :board_member, :true %>Yes</td>
<td><%= f.radio_button :board_member, :false, :checked => true %>No</td>
<% end %>
</tr>
<tr>
<td><%= f.label :board_position %></td>
<td><%= f.text_field :board_position, :size => 60 %></td>
</tr>
<tr>
<td><%= f.label :title_credential %></td>
<td><%= f.text_field :title_credential, :size => 60 %></td>
</tr>
<tr>
<td><%= f.label :memo %></td>
<td><%= f.text_field :memo, :size => 60 %></td>
</tr>
<tr>
<td><%= f.label :practice_area %><br /></td>
<td><%= f.collection_select(:practice_area_id, PracticeArea.find(:all, :order => :name), :id, :name, { :prompt => "-- Select --" }) %></td>
<td><%= f.label :endorsement_level %><br /></td>
<td><%= f.collection_select(:endorsement_level_id, EndorsementLevel.find(:all, :order => :name), :id, :name, { :prompt => "-- Select --" }) %></td>
</tr>

</table>
<%= f.submit "Finish", :class => 'btn btn-primary btn-large' %>
<% end %>
