<%= form_for(@member) do |f| %>
<%= f.error_messages %>
<table>
<tr>
<td><%= f.label :first_name %></td>
<td><%= f.text_field :first_name %></td>
<td><%= f.label :last_name %></td>
<td><%= f.text_field :last_name %></td>
</tr>
<tr>
<td><%= f.label :agency %></td>
<td colspan="3"><%= f.text_field :agency %></td>
</tr>
<tr>
<td><%= f.label :primary_email %></td>
<td colspan="3"><%= f.text_field :email_1 %></td>
</tr>
<tr>
<td><%= f.label :secondary_email %></td>
<td colspan="3"><%= f.text_field :email_2 %></td>
</tr>
<tr>
<td><%= f.label :home_phone %></td>
<td><%= f.text_field :home_phone %></td>
<td><%= f.label :work_phone %></td>
<td><%= f.text_field :work_phone %></td>
</tr>
<tr>
<td><%= f.label :address_1 %></td>
<td colspan="3"><%= f.text_field :address_1 %></td>
</tr>
<tr>
<td><%= f.label :address_2 %></td>
<td colspan="3"><%= f.text_field :address_2 %></td>
</tr>
<tr>
<td><%= f.label :city %></td>
<td><%= f.text_field :city %></td>
<td><%= f.label :state %></td>
<td><%= f.text_field :state %></td>
</tr>
<tr>
<td><%= f.label :zip %></td>
<td><%= f.text_field :zip %></td>
</tr>
<tr>
<td><%= f.label :last_dues_paid %></td>
<td><%= f.date_select :last_dues_paid %></td>
</tr>
<tr>
<td><%= f.label :board_member %></td>
<td><%= f.radio_button :board_member, :true %>Yes</td>
<td><%= f.radio_button :board_member, :false, :checked => true %>No</td>
</table>
<p>
<%= f.label :memo %>
<%= f.text_field :memo, :size => 60 %>
</p>
<%= f.submit %>
<% end %>
