<h1>Compose Email</h1>
<div class="form">
<%= form_for :email_setup, :url => { :action => "sendEmail" } do |f| %>
<div>
<%= f.label :subject %>
<%= f.text_field :subject, :size => 72 %>
</div>
<div>
<%= f.label :file_attachment %>
<%= f.file_field :file_attachment %>
</div>
<div>
<%= f.label :email_text %>
<%= f.text_area :email_text, :cols => 76, :rows => 20 %>
</div>
<%= f.check_box :everyone %>All Contacts
<br>
<%= f.check_box :members_only %>Members Only
<br>
<%= f.check_box :board_only %>Board Only
<br>
<%= submit_tag "Send" %>
</div>
<% end %>
