<% if user_signed_in? %>
<%= link_to "New Contact", new_member_path, :class => "btn btn-primary btn-large" %>
<% end %>
<h2>Contacts</h2>
<%= form_tag members_path, :method => :get do %>
<%= label_tag "Search by Last Name" %>
<%= text_field_tag :member_last_name, nil, :class => 'member_last_name' %>
<%= label_tag "Agency Clue:" %>
<%= text_field_tag :agency_clue, nil, :class => 'agency_clue' %>
<%= submit_tag "Go!", :name => nil %>
<% end %>
<div id="members">
<% if @members.size == 0 %>
<h2>Search produced 0 results</h2>
<% else %>
<%= paginate @members %>
<%= render :partial => "members_list" %>
<% end %>
</div>
<% if user_signed_in? %>
<%= link_to "PrintExcelListing", :action => "getExcel", :controller => "members", :class => "btn btn-primary btn-large" %>
<% end %>
<div id='tip' style='display:none'>
</div>
