<%= admins_only do %>
<%= link_to "New Member", new_member_path, :class => "btn btn-primary btn-large" %>
<% end %>
<h2>Members</h2>
<%= form_tag members_path, :method => :get do %>
<%= label_tag "Search by Last Name" %>
<%= text_field_tag :member_last_name, nil, :class => 'member_last_name' %>
<%= submit_tag "Go!", :name => nil %>
<% end %>
<div id="members">
<%= paginate @members %>
<%= render :partial => "members_list" %>
</div>
<%= admins_only do %>
<%= link_to "PrintExcelListing", :action => "getExcel", :controller => "members", :class => "btn btn-primary btn-large" %>
<% end %>
