<h2><%= @member.full %></h2>
<h3>First name: <%= @member.first_name %></h3>
<h3>Last name: <%= @member.last_name %></h3>
<h3>Agency: <%= @member.agency %></h3>
<h3>Address: <%= @member.address %></h3>
<h3>City: <%= @member.city %></h3>
<h3>State: <%= @member.state %></h3>
<h3>Zip: <%= @member.zip %></h3>
<h3>Work phone: <%= @member.work_phone %></h3>
<h3>Home phone: <%= @member.home_phone %></h3>
<h3>Email: <%= @member.email %></h3>
<h3>Last dues paid: <%= @member.last_dues_paid %></h3>
<h3>Board member: <%= @member.board_member %></h3>
<%= link_to "Edit Member", edit_member_path(@member) %>
<%= link_to "Delete Member", @member, :method => :delete,
  :confirm => "Are you sure you want to delete this member?" %>
<%= link_to "Return to all members", members_path %>
