<h2><%= @member.full %></h2>
<table>
<tr>
<td>First name</td><td><b><%= @member.first_name %></b></td>
<td>Last name</td><td><b><%= @member.last_name %></b></td>
</tr>
<tr>
<td>Agency</td><td colspan="3"><b><%= @member.print_agency %></b></td>
</tr>
<tr>
<td>Primary Email</td><td colspan="3"><b><%= @member.print_email_1 %></b></td>
</tr>
<tr>
<td>Secondary Email</td><td colspan="3"><b><%= @member.print_email_2 %></b></td>
</tr>
<tr>
<td>Home phone</td><td><b><%= @member.print_home_phone %></b></td>
<td>Work phone</td><td><b><%= @member.print_work_phone %></b></td>
</tr>
<tr>
<td>Address</td><td colspan="3"><b><%= @member.print_address_1 %><b></td>
</tr>
<tr>
<td>More Address</td><td colspan="3"><b><%= @member.print_address_2 %><b></td>
</tr>
<tr>
<td>City</td><td><b><%= @member.print_city %></b></td>
<td>State</td><td><b><%= @member.print_state %></b></td>
</tr>
<tr>
<td>Zip</td><td><b><%= @member.zip %></b></td>
</tr>
<tr>
<td>Dues</td><td><b><%= @member.print_last_dues_paid %></b></td>
<td>Board Member?</td><td><b><%= @member.print_board_member %></b></td>
</tr>
<tr>
<td>Memo</td><td colspan="2"><%= @member.memo %></td>
</tr>
<tr>
<td>Exec Board Position</td><td colspan="2"><%= @member.print_exec_board_position %></td>
</tr>
</table>
<%= admins_only do %>
<%= link_to "Edit Member", edit_member_path(@member) %>
<%= link_to "Delete Member", @member, :method => :delete,
  :confirm => "Are you sure you want to delete this member?" %>
<% end %>
<%= link_to "Return to all members", members_path %>
