<h2><%= @member.full %></h2>
<h4>First name: <%= @member.first_name %></h4>
<h4>Last name: <%= @member.last_name %></h4>
<h4>Agency: <%= @member.agency %></h4>
<h4>Address: <%= @member.address %></h4>
<h4>City: <%= @member.city %></h4>
<h4>State: <%= @member.state %></h4>
<h4>Zip: <%= @member.zip %></h4>
<h4>Work phone: <%= @member.work_phone %></h4>
<h4>Home phone: <%= @member.home_phone %></h4>
<h4>Email: <%= @member.email %></h4>
<h4>Last dues paid: <%= @member.last_dues_paid %></h4>
<h4>Board member: <%= @member.board_member %></h4>
<%= admins_only do %>
<%= link_to "Edit Member", edit_member_path(@member) %>
<%= link_to "Delete Member", @member, :method => :delete,
  :confirm => "Are you sure you want to delete this member?" %>
<% end %>
<%= link_to "Return to all members", members_path %>
